.dropdown:hover>.dropdown-menu{
    display:block;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}

.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.dropdown-menu-modified{
    min-width:600px;
    text-align:center;
    padding:5px;
}

.rating_checked{
    color: #cc3300;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Adauga imagine";
}

.zoom-image {
  transition: transform .2s;
    z-index:99;
}

.zoom-image:hover {

  transform: scale(1.2);
}

.give-rating-div{

     transition: opacity 500ms;
     opacity: 1;
}

.hideBlock{
    display:none;
}

.edit-clip{
  margin: 0 auto;
}

.card-group-padding{
    padding:10px;
}
.card-margin{
    margin: 0 7px;
}

.hr_styled{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.golden_card{
    background: -moz-linear-gradient(top, rgba(255,231,102,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,231,102,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,231,102,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe766', endColorstr='#007db9e8',GradientType=0 );
}

.platinum_card{
    background: -moz-linear-gradient(top, rgba(154,197,219,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(154,197,219,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(154,197,219,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac5db', endColorstr='#007db9e8',GradientType=0 );
}

.bronze_card{
    background: -moz-linear-gradient(top, rgba(176,141,87,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(176,141,87,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(176,141,87,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b08d57', endColorstr='#007db9e8',GradientType=0 );

}

.custom_header_for_PLATINUM{
    margin:0;
    padding:5px;
    color:black;
    background: -moz-radial-gradient(center, ellipse cover, rgba(125,185,232,1) 0%, rgba(125,185,232,0.86) 10%, rgba(154,197,219,0.34) 49%, rgba(154,197,219,0) 74%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125,185,232,1) 0%,rgba(125,185,232,0.86) 10%,rgba(154,197,219,0.34) 49%,rgba(154,197,219,0) 74%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(125,185,232,1) 0%,rgba(125,185,232,0.86) 10%,rgba(154,197,219,0.34) 49%,rgba(154,197,219,0) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#009ac5db',GradientType=1 );

}

.custom_header_for_GOLD{
    margin:0;
    padding:5px;
    color:black;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,231,102,1) 0%, rgba(164,199,193,0) 67%, rgba(125,185,232,0) 96%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,231,102,1) 0%,rgba(164,199,193,0) 67%,rgba(125,185,232,0) 96%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,231,102,1) 0%,rgba(164,199,193,0) 67%,rgba(125,185,232,0) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.custom_header_for_BRONZE {
    margin:0;
    padding:5px;
    color:black;
   background: -moz-radial-gradient(center, ellipse cover, rgba(176,141,87,1) 0%, rgba(137,174,197,0) 60%, rgba(125,185,232,0) 79%); /* FF3.6-15 */
   background: -webkit-radial-gradient(center, ellipse cover, rgba(176,141,87,1) 0%,rgba(137,174,197,0) 60%,rgba(125,185,232,0) 79%); /* Chrome10-25,Safari5.1-6 */
   background: radial-gradient(ellipse at center, rgba(176,141,87,1) 0%,rgba(137,174,197,0) 60%,rgba(125,185,232,0) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b08d57', endColorstr='#007db9e8',GradientType=1 );

}

#block_error{
      width: 845px;
      height: 384px;
      border: 1px solid #cccccc;
      margin: 72px auto 0;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
  }
  #block_error div{
      padding: 100px 40px 0 186px;
  }
  #block_error div h2{
      color: #218bdc;
      font-size: 24px;
      display: block;
      padding: 0 0 14px 0;
      border-bottom: 1px solid #cccccc;
      margin-bottom: 12px;
      font-weight: normal;
  }



/* Admin */
#admin_sidebar_wrapper{
  z-index:1;
  position: absolute;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #2752b3;
  opacity:0.9;
	transition:all .5s;
	display:flex;
	align-items:center;
}

/* Admin Content */
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding:15px;
	transition:all .5s;
}

#menu-toggle{
	transition:all .3s;
	font-size:1.2em;
	border-bottom:1px solid black;
}
/* Change the width of the sidebar to display it*/
#admin_wrapper.menuDisplayed #admin_sidebar_wrapper{
  width:350px;
}

#admin_wrapper.menuDisplayed #page-content-wrapper{
  padding-left:350px;
}

/* Sidebar styling */
.admin_sidebar_nav{
  padding:0;
  list-style:none;
	transition:all .5s;
	width:100%;
	text-align:center;
	font-size:1.2em;
}

.admin_sidebar_nav li{
  line-height:40px;
	width:100%;
	transition:all .3s;
	padding:10px;
}

.admin_sidebar_nav li a {
  display:block;
  text-decoration:none;
  color:#ddd;
  font-size:1.2em;
}

.admin_sidebar_nav li:hover{
  background:#846bab;
}
